<input type="checkbox" id="menu-toggle">
<header>
 <div class="header-content">
     <label for="menu-toggle">
         <span class="las la-bars"></span>
     </label>
     
     <div class="header-menu">
      
         
         
         <div class="notify-icon">
             <span class="las la-bell"></span>
             <span class="notify">3</span>
         </div>
         
         <div class="user">
             <div class="bg-img" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png)"></div>
             
             <span class="las la-power-off"></span>
             <span>Logout</span>
         </div>
     </div>
 </div>
</header>