<div class="records table-responsive">
 <!-- <div class="record-header">
     <div class="font-weight-bold">
         <span>Dernier Tickets</span>
     </div>
     <div class="browse">
        <input type="search" placeholder="Search" class="record-search">
         <select name="" id="">
             <option value="">Status</option>
         </select>
     </div>
 </div> -->
 <div>	 <table width="100%">
  <thead>
      <tr>
       <th><span class="col"></span> id</th>
       <th><span class="col"></span> Nom de Client</th>
          <th><span class="col"></span> Priority</th>
          <th><span class="col"></span> Category</th>
          <th><span class="col"></span> Nom de consultant</th>
          <th><span class="col"></span> Date</th>
          <th><span class="col"></span> Action</th>
      </tr>
  </thead>
		
	<tbody>
		<tr >
			<td scope="row">{{ item5.id }}</td>
			<td>
				{{ item5.nom}}
			</td>
			<td>{{ item5.priority }}</td>
			<td>{{ item5.category }}</td>
   <td>{{ item5.consultant }}</td>
			<td>{{ item5.date }}</td>
<td><app-bouton-open></app-bouton-open></td>
		</tr>
	</tbody>
</table> 
</div>
</div>