<div class="records table-responsive">
    <!-- <div class="record-header">
        <div class="font-weight-bold">
            <span>Dernier Expert</span>
        </div>
    </div> -->
    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th><span class="col"></span> id</th>
                    <th><span class="col"></span> Nom </th>
                    <th><span class="col"></span> category</th>
                    <th><span class="col"></span> Spécialité</th>
                    <th><span class="col"></span> Nombre de ticket</th>
                    <th><span class="col"></span> Nombre de document</th>
                              <th><span class="col"></span> Action</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let country of countries; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <!-- <img class="bg-img" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png)"/> -->

                        {{ country.name }}
                    </td>
                    <td>{{ country.category }}</td>
                    <td>{{ country.Specialite }}</td>
                    <td>{{ country.Nombre_de_ticket }}</td>
                    <td>{{ country.Nombre_de_document }}</td>
                    <td><app-bouton-open></app-bouton-open></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>