<div class="records table-responsive">
    <!-- <div class="record-header">
        <div class="font-weight-bold">
            <span>Dernier Expert</span>
        </div>
    </div> -->
    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th><span class="col"></span> id</th>
                    <th><span class="col"></span> Nom </th>
                    <th><span class="col"></span> category</th>
                    <th><span class="col"></span> Spécialité</th>
                    <th><span class="col"></span> Nombre de ticket</th>
                    <th><span class="col"></span> Nombre de document</th>
                              <th><span class="col"></span> Action</th>

                </tr>
            </thead>

            <tbody>
                <tr >
                    <td scope="row">{{ item3.id }}</td>
                    <td>
                        <!-- <img class="bg-img" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png)"/> -->

                        {{ item3.nom }}
                    </td>
                    <td>{{ item3.category }}</td>
                    <td>{{ item3.specialite }}</td>
                    <td>{{ item3.nombre_ticket }}</td>
                    <td>{{ item3.nombre_document }}</td>

                    <td><app-bouton-open></app-bouton-open></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>