<div class="bg-surface-primary  pt-6 ">
 <div class="container-fluid">
     <div class="mb-npx">
         <div class="row align-items-center">
             
             <div class="col-sm-12 col-12 text-sm-end">
                 <div class="mx-n1"> 
                         <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-2 "(click)="open(content)"> 
                             <span class=" pe-2"><i class="bi bi-file-earmark-plus-fill"></i></span> <span>Add</span> </a> 
                         </div>
             </div>
         </div> 
        
     </div>
 </div>
</div>

  <!-- modal -->
  <ng-template #content let-modal>
   <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload document</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
    <form>
     <div class="mb-3">
      <div class="input-group">
                           <form accept-charset="UTF-8"  method="POST" enctype="multipart/form-data" target="_blank">
                             <div class="form-group">
                               <label for="exampleInputName">Title</label>
                               <input type="text" name="title" class="form-control" id="exampleInputName" placeholder="Enter title" required="required">
                             </div>
                             <div class="form-group">
                              <label for="exampleInputName">Référence</label>
                              <input type="text" name="title" class="form-control" id="exampleInputName" placeholder="Enter Référence" required="required">
                            </div>
                            <div class="form-group">
                             <label for="exampleInputName">Date</label>
                             <input type="date" name="title" class="form-control" id="exampleInputName" placeholder="Enter Date" required="required">
                           </div>
                             <div class="form-group">
                              <label for="exampleFormControlSelect1">Category</label>
                              <select class="form-control" id="exampleFormControlSelect1" name="platform" required="required">
                               <option selected="" hidden="">All</option> 
                               <option>Social</option>
                                <option>Juridique</option>
                                <option>Fiscale</option>
                              </select>
                            </div>
                            <div class="form-group">
                             <label for="exampleFormControlSelect1">Tag</label>
                             <select class="form-control" id="exampleFormControlSelect1" name="platform" required="required">
                              <option selected="" hidden="">All</option>
                              <option value="1">loi</option>
                              <option value="2">buiss</option>
                              <option value="3">droit</option>
                             </select>
                           </div>
                          <div class="form-group">
                              <label for="exampleInputEmail1" required="required">Description</label>
                              <input type="text" name="tags" class="form-control" id="exampleInputName" placeholder="Description" required="required">
                          </div>
                             
                             <div class="form-group mt-3">
                               <label class="mr-2">Upload your File:</label>
                               <input type="file" name="file">
                             </div>
                            
                           </form>
                       </div> 
     </div>
    </form>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
   </div>
  </ng-template>