<input type="checkbox" id="menu-toggle">
<div class="sidebar">
    <!-- <div class="side-header">
        <h3>M<span>odern</span></h3>
    </div>
     -->
    <div class="side-content">
        <div class="profile">
            <div class="profile-img bg-img"
                style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png)">
            </div>
            <h4>Manager</h4>
            <small>Manager</small>
        </div>
        <div class="side-menu">
            <ul>
                <li>
                    <a [routerLink]="['/']" class="active ">
                        <span class="las la-home"></span>
                        <small class="link-light ">Home</small>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/manager/list-article']">
                        <span><i class="bi bi-file-earmark-bar-graph"></i>
                        </span>
                        <small class="link-light">list article</small>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/manager/list-ticket']">
                        <span><i class="bi bi-card-list"></i>
                        </span>
                        <small class="link-light">list ticket</small>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/manager/list-expert']">
                        <span><i class="bi bi-list"></i>
                        </span>
                        <small class="link-light">list expert </small>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span><i class="bi bi-person"></i>
                        </span> <small class="link-light">Profile</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-content">

    <app-header>
    </app-header>


    <main>
        <div class="page-header">

            <div class="row">
                <div class="col-4">
                    <h1>Dashboard</h1>
                    <small>Home / Dashboard</small>
                </div>
                <div class="col-8">
                    <app-bouton-add-document></app-bouton-add-document>
                </div>
            </div>
        </div>
        <div class="page-content">
            <app-carts></app-carts>
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li ngbNavItem="list-article-dernier">
                    <a ngbNavLink>Dernier Document</a>
                    <ng-template ngbNavContent>
                        <div *ngFor='let item1 of item1'>


                            <app-list-article-dernier [item1]="item1"></app-list-article-dernier>

                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem="list-ticket-dernier">
                    <a ngbNavLink>Dernier Tickets</a>
                    <ng-template ngbNavContent>
                        <div *ngFor='let item5 of item5'>
                            <app-list-ticket-dernier [item5]="item5"></app-list-ticket-dernier>

                        </div>

                    </ng-template>
                </li>

                <li ngbNavItem="list-expert-dernier">
                    <a ngbNavLink>Expert</a>
                    <ng-template ngbNavContent>
                        <div *ngFor='let item3 of item3'>
                            <app-list-expert-dernier [item3]="item3"></app-list-expert-dernier>

                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="ms-8"></div>
        </div>






    </main>

</div>